<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">

   <!--=============== REMIXICONS ===============-->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css" crossorigin="">

   <!--=============== CSS ===============-->
   <link rel="stylesheet" href="{% static 'css/signup.css' %}">

   <title>Register Form - Parking Management System</title>

   <script>
      function validatePasswords(event) {
         // Get password values
         const password1 = document.getElementById("password1").value;
         const password2 = document.getElementById("password2").value;

         // Check if passwords match
         if (password1 !== password2) {
            // Show alert if passwords don't match
            alert("Passwords do not match. Please re-enter.");
            event.preventDefault(); // Prevent form submission
         }
      }
   </script>
</head>
<body>
   {% if messages %}
   {% for message in messages %}
       <div class="alert alert-danger">{{ message }}</div>
   {% endfor %}
  {% endif %}
   <div class="ParkSense">Powered by ParkSense</div>
   <div class="login">
      <img src="{% static 'images/apcbuildingblue.png' %}" alt="image" class="login__bg">

      <form action="" method="post" class="login__form" onsubmit="validatePasswords(event)">
         {% csrf_token %}
         <div class="log__header">
            <img src="{% static 'images/apc_logo.png' %}" class="logo">
            <h1 class="login__title">Parking Management System</h1>
         </div>
         <hr class="break">
         <div class="login__inputs">
            <div class="login__box">
               <input type="text" placeholder="Username" required class="login__input" id="username" name="username">
               <i class="ri-user-fill"></i>
               <label for="Username" class="login__label"></label>
            </div>

            <div class="login__box">
               <input type="email" placeholder="Email" required class="login__input" id="email" name="email">
               <i class="ri-mail-fill"></i>
               <label for="email" class="login__label"></label>
            </div>

            <div class="login__box">
               <input type="password" placeholder="Password" required class="login__input" id="password1" name="password1">
               <i class="ri-lock-2-fill"></i>
               <label for="password1" class="login__label"></label>

            </div>

            <div class="login__box">
               <input type="password" placeholder="Re-Type Password" required class="login__input" id="password2" name="password2">
               <i class="ri-lock-2-fill"></i>
               <label for="password2" class="login__label"></label>
            </div>
         </div>
         <button type="submit" class="login__button">Register</button>
         <div class="login__login">
            <i class="ri-arrow-left-s-line"> </i>
            <a href="{% url 'login' %}">Back to login</a>

      </form>


</body>
</html>
